body{
	padding: 50px;
}

.toggle_container{
	position: relative;
	width: 200px;
	height: 60px;
	background-color: white;
	border-radius: 30px;
	padding: 5px;
	transition: all 0.5s;
	border: 2px solid black;
	cursor: pointer;
	-webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.toggle_circle{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	transform: translateX(0px);
	background-color: black;
	transition: all 0.5s;
}
.toggle_title{
	top: -8px;
	font-weight: bold;
	position: absolute;
	font-size: 25px;
	opacity: 0;
}
.toggle_private{
	left: 35px;
}
.toggle_public{
	right: 35px;
}

.container_clicked{
	background-color: black;
	color: white;
}

.circle_clicked{
	transform: translateX(140px);
	background-color: white;
}
.private_clicked{
	opacity: 1;
	color: white;
	transition: 2s opacity, 0.1s color;
}
.public_clicked{
	opacity: 1;
	color: black;
	transition: 2s opacity, 0.1s color;
}